<!-- WebSite Schema.org Type -->
<!-- https://schema.org/WebSite -->
<!-- Output all taxonomies as schema.org keywords -->

<!-- Revision based on Google guide https://developers.google.com/search/docs/appearance/site-names#how-to-add-structured-data -->

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ .Site.Title }},
  {{ with .Site.Params.description -}}
  "description": {{ . }},
  {{ end -}}
  {{ with .Site.Params.mainMenuLogo -}}
  {{- with $image := resources.GetMatch . -}}
  {{- if ne $image.MediaType.SubType "svg" -}}
    {{- $image = $image.Resize "960x" -}}
  {{- end -}}
  "image": {{ $image.Permalink }},
  {{ end -}}
  {{ end -}}
  {{ with .Site.Author -}}
  "copyrightHolder": {
    "@type": "Organization",
    "name": "{{ . }}"
  },
  {{- end }}
  {{ with .Site.BaseURL -}}
  "url": {{ . }}
  {{ end -}}
}
</script>
