.home span.btn-container {
    display: block;
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 5em;
}

.hero-text {
    h1 {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    h2 {
        margin-top: 0;
    }
}