@use 'sass:color';
@import "bootstrap/bootstrap.scss";

// $primary: #00684A;
// $primary-hover: rgb(0, 155, 110);

$primary: #107e8d;
$primary-hover: #15a6b9;
$navbar-color: #292e3a;

.home {
  --bd-purple: #4c0bce;
  --bd-violet: #712cf9;
  --bd-accent: #ffc684;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bd-accent-rgb: 255, 228, 132;
  --bd-pink-rgb: 214, 51, 132;


  .bd-masthead {
    padding: 3rem 0;
    // background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%), radial-gradient(ellipse at top left, rgba(#dddada, 0.5), transparent 50%), radial-gradient(ellipse at top right, rgba(#222, 0.5), transparent 50%), radial-gradient(ellipse at center right, rgba(#666, 0.5), transparent 50%), radial-gradient(ellipse at center left, rgba(#666, 0.5), transparent 50%);
    background-image: linear-gradient(180deg, #292e3a10, #fff)    
  }

  .btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #{$primary};
    --bs-btn-border-color: #{color.adjust($primary, $lightness: 10%)};
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{color.adjust($primary, $lightness: 10%)};
    ;
    --bs-btn-hover-border-color: #{color.adjust($primary, $lightness: 10%)};
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: #{color.adjust($primary, $lightness: -10%)};
    --bs-btn-active-border-color: #{color.adjust($primary, $lightness: -10%)};
  }
}


.navbar {
  @extend .navbar;
  color: white;
  padding: .75rem 0;
  background-color: transparent;
  background-image: linear-gradient(to bottom, $navbar-color, rgba($navbar-color, 0.95));
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.text-violet {
  color: #6528e0;
}

.text-green {
  color: $primary;
}

.list {
  .card {
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.01);
      box-shadow: 5px 5px 15px rgba($primary, 0.3);
    }
  }
}

.navbar-brand {
  transition: transform 0.2s ease-in-out;

  svg {
    transition: fill 0.2s ease-in-out;
    fill: white;
    height: 22px;
    vertical-align: text-bottom;
  }

  &:hover {
    transform: rotate(-2deg) scale(1.1);

    svg {
      fill: #59b5c3ff ;
    }
  }

  img {
    vertical-align: text-top;
  }
}

.blog-info {
  color: #626462;
  margin-bottom: 1.5em;
}

.footer-class {
  background: linear-gradient(to bottom, $navbar-color, rgba($navbar-color, 0.95));
  ;

  .gold-color {
    color: white
  }

  a:hover {
    color: #25c3d8
  }

  a:active {
    color: #25c3d8
  }
}

a {
  color: $primary;
}

a:hover,
a:active {
  color: $primary-hover;
}

// a:visited{
//   color: purple;
// }

.text-primary {
  color: #004154 !important;
}

h3 {
  color: $primary !important;
}


.text-section-header, .home .container h2{
  color: #004154 !important;
  // font-weight: bold;
  font-size: 42px;
  text-align: center;
}

.feather-social {
  color: $primary;
}

.feather-social:hover {
  color: $primary-hover;
}

.arrow {
  transition: transform 0.3s ease-in-out;
}

.card:hover .arrow {
  transform: translateX(7px);
}



/* Stile generale del form */
.contact-form {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Stile delle etichette */
.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

/* Stile degli input e textarea */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* Effetto focus sugli input */
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: rgb(0, 155, 110.288);
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.2);
}

/* Stile del pulsante */
.contact-form button {
  width: 100%;
  padding: 12px;
  background: $primary;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Effetto hover sul pulsante */
.contact-form button:hover {
  background: $primary-hover;
  color: white;
  // box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.3);
}

.contact-form button:active {
  background: $primary-hover;
  color: white;
  // box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.3);
}

.contact-form button:focus {
  background: $primary-hover;
  color: white;
  // box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.3);
}


.lead-img{
  width: 60%;
}


/* Responsive */
@media (max-width: 1000px) {

  .lead-img {
    width: 80%;
  }

}

/* Responsive */
@media (max-width: 600px) {
  .contact-form {
    width: 90%;
    padding: 15px;
  }

  .bd-masthead {
    // padding: 1rem 0 !important;
  }

  .lead-img {
    width: 100%;
  }

}


.stroke-prim {
  stroke: $primary;
}


.teamheaders {
  h1 {
      margin: 0.5em 0em 1em 0;

      color: #004154;
      font-weight: bold;
  }

  h2 {
    margin: 1em 0em 1em 0;
    color: #004154;
    font-weight: bold;
}
}

@import 'book-call.scss';
@import 'home.scss';
@import 'about.scss';

.cta-button {
  background: linear-gradient(135deg, #00b5cc, #007f8a); /* Gradiente blu acqua */
  color: white;
  // font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.1s ease, transform 0.1s ease, box-shadow 0.3s ease, opacity 1s ease !important; /* Puoi lasciarla o rimuoverla */
  text-decoration: none; /* 🔥 Rimuove la sottolineatura */
}

.cta-button:hover {
  background: linear-gradient(135deg, #00c8e2, #0197a5);
  box-shadow: 0 6px 16px rgba(0, 156, 168, 0.4); /* Appare subito senza transizione */
  color: #ffffff;
}

.cta-button:visited {
  color: #ffffff;
}

.cta-button:active {
  transform: scale(0.98);
  color: #ffffff;
}

.cta-button-menu {
  background: linear-gradient(135deg, #00b5cc, #007f8a); /* Gradiente blu acqua */
  color: white;
  // font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 6px 28px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; /* 🔥 Rimuove la sottolineatura */
}

.cta-button-menu:hover {
  background: linear-gradient(135deg, #00c8e2, #0197a5);
  box-shadow: 0 6px 16px rgba(0, 156, 168, 0.4); /* Appare subito senza transizione */
  color: #ffffff;
}

.cta-button-menu:visited {
  color: #ffffff;
}

.cta-button-menu:active {
  transform: scale(0.98);
  color: #ffffff;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-text {
  flex:1;
  // min-width: 300px;
  // max-width: 500px;
  max-width: 700px;
}

.logo-text {
  color: #004154;
  // letter-spacing: 2px;
  text-transform: uppercase;
}

.title {
  margin-bottom: 30px;
  color: #004154;
  font-size: 2em;
}


.subtitle {
  margin-bottom: 30px;
  color: #004154;
  font-size: 32px;
}

.hero-image {
  flex: 1;
  padding-left: 1em;
  text-align: center;
  min-width: 300px;
  max-width: 500px;
}

.hero-image img {
  height: 100%;
  height: auto;
  border-radius: 12px;
}

.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'BIZ UDPGothic';
  src: url('/fonts/BIZUDPGothic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BIZ UDPGothic';
  src: url('/fonts/BIZUDPGothic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Variable';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* range di pesi supportati */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans.ttf') format('truetype');
  font-weight: 100 900; /* range di pesi supportati */
  font-style: normal;
  font-display: swap;
}

.biz-udpgothic-bold {
  font-family: "BIZ UDPGothic";
  font-weight: 700;
  font-style: normal;
}

.mons {
  font-family: "Nunito Sans";
  font-weight: 700;
  font-style: normal;
}


 /* Animation classes */
/* Animation */
.hero-hidden {
  opacity: 0;
  transform: translateX(-40px);
}

.hero-hidden2 {
  opacity: 0;
  transform: translateX(-480px);
}

.hero-hidden3 {
  opacity: 0;
}

.hero-visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s ease;
}

.hero-visible2 {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.9s ease-out;
}

.hero-visible3 {
  opacity: 1;
  transition: opacity 1s ease;
}


#imgLogoManalisk {
  width: 100%;
  max-width: 350px;
  height: auto;
}

/* Tablet orizzontale e oltre */
@media (max-width: 1024px) {
  #imgLogoManalisk {
    max-width: 300px;
  }
}

/* Tablet verticale / piccoli laptop */
@media (max-width: 768px) {
  #imgLogoManalisk {
    max-width: 260px;
  }
}

/* Smartphone grandi */
@media (max-width: 480px) {
  #imgLogoManalisk {
    max-width: 230px;
  }
}

/* Smartphone piccoli */
@media (max-width: 360px) {
  #imgLogoManalisk {
    max-width: 210px;
  }
}

.home-title{
  font-size:  clamp(3rem, 6vw, 4rem);
}


.animated-gradient-text {
  font-size: 32px; /* Adatta la dimensione del font */
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(135deg, #00b5cc, #007f8a); /* Il tuo gradiente */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Rende il colore del testo trasparente per mostrare il gradiente */
  /* Proprietà iniziali per l'animazione (opzionale, dipende dall'effetto) */
  opacity: 0;
  transform: translateY(20px);
}

/* Animazione di Entrata (es. dissolvenza e leggero slide verso l'alto) */
.text-fade-in {
  animation: fadeInAnimation 0.4s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animazione di Uscita (es. dissolvenza e leggero slide verso l'alto) */
.text-fade-out {
  animation: fadeOutAnimation 0.4s ease-in-out forwards;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px); /* O la direzione che preferisci */
  }
}

/* Stile base per il testo visibile (da applicare dopo l'entrata iniziale) */
.animated-gradient-text:not(.text-fade-in):not(.text-fade-out) {
    opacity: 1;
    transform: translateY(0);
}


/* Stile per il pulsante nella navbar collassata */
@media (max-width: 991.98px) { /* Breakpoint per navbar-expand-lg di Bootstrap 5 */
  .navbar-collapse .btn-mobile-fit {
    width: -webkit-fit-content; /* Per compatibilità con browser basati su WebKit come Chrome/Safari */
    width: -moz-fit-content;    /* Per compatibilità con Firefox */
    width: fit-content !important; /* Standard CSS, rende il bottone largo quanto il suo contenuto */
    margin-left: auto;
    margin-right: auto;
    /* Opzionale: se vuoi un po' di margine attorno al bottone nel menu mobile */
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0.5rem; */
  }
}


.call-background{
    background-image: linear-gradient(
        180deg,
        #F0F2F5 0%, /* Grigio chiaro */
        #ffffff 60%,
        #ffffff 100%
    );
    min-height: 100vh;
}