{{ define "main" }}
  <div class="container py-3 teamheaders">
    {{ .Content }}


    <h2 class="text-primary">Il Nostro Team</h2>
    {{ range $index, $service := .Page.Params.team }}
    <div class="d-md-flex flex-row {{ if not (modBool $index 2) }} flex-row-reverse {{ end }} align-items-center">
      <div class="flex-col px-5 text-center">
        {{ $img := resources.Get .image }}
        <img src="{{ $img.RelPermalink }}" alt="{{ .title }}" class="img-fluid shadow img-team mb-5">
      </div>  
      <div class="flex-col  px-5 {{ if not (modBool $index 2) }} text-end {{ end }}">
            <h3>{{ .title }}</h3>
            <p>{{ .description }}</p>
        </div>
    </div>
    {{ end }}

       {{ partial "contact" . }}
</p>
  </div>
{{ end }}