<!-- Featueres section -->

<section class="features-section">
    <div class="container">
        <div class="row">
            {{ range .Page.Params.pillars }}
            <div class="col-lg-4 col-md-6 mb-4"> {{/* Example Bootstrap grid classes */}}
                <div class="feature-item text-center">
                    <svg xmlns='http://www.w3.org/2000/svg' class='feather text-green feather-big' width="4em" height="4em">
                        <use href="{{ `images/feather/feather-sprite.svg#` | relURL }}{{ .icon }}"/>
                    </svg>
                    <h2 class="h2">{{ .title }}</h2>
                    <p>{{ .description }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>