<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-green feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#trending-up` | relURL }}"/>
        </svg>
        <h2 class="h2">Crescita e Innovazione <small class="d-none">📈</small></h2>
        <p>Aiutiamo le aziende a scalare e innovare, sfruttando la potenza dell’Intelligenza Artificiale per creare vantaggi competitivi duraturi.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-green feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#globe` | relURL }}"/>
        </svg>
        <h2 class="h2">Scalabilità e Personalizzazione<small class="d-none">🛡️</small></h2>
        <p>Offriamo soluzioni AI che crescono con le esigenze del cliente e si adattano alle loro specifiche necessità, per garantire un’implementazione flessibile e su misura.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-green feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#check` | relURL }}"/>
        </svg>
        <h2 class="h2">Affidabilità e Precisione <small class="d-none">🚀</small></h2>
        <p>Assicuriamo che i nostri sistemi AI siano stabili, performanti e in grado di prendere decisioni accurate, riducendo i margini di errore.</p>
    </div>
    
    
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-green feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Sicurezza e Privacy <small class="d-none">🛡️</small></h2>
        <p>La sicurezza e la privacy dei dati sono la nostra priorità. Progettiamo soluzioni AI conformi agli standard normativi, garantendo protezione e trasparenza a ogni livello.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-green feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#zap` | relURL }}"/>
        </svg>
        <h2 class="h2">Velocità nello Sviluppo <small class="d-none">🚀</small></h2>
        <p>Dall’idea alla soluzione, trasformiamo progetti complessi in realtà in tempi rapidi, grazie alla nostra esperienza e a un workflow ottimizzato.</p>
    </div>
    
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-green feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#user-check` | relURL }}"/>
        </svg>
        <h2 class="h2">Accessibilità e Facilità d'Uso<small class="d-none">📈</small></h2>
        <p>Le nostre soluzioni AI sono progettate per essere user-friendly, senza richiedere competenze tecniche avanzate, e accessibili a tutte le imprese, grandi o piccole.</p>
    </div>
</div>
<!-- 
<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-green feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Security aware <small class="d-none">🛡️</small></h2>
        <p>Get A+ scores on <a href="https://observatory.mozilla.org/" target="_blank" rel="noopener">Mozilla Observatory</a>
            out of the box. Easily change the default Security Headers to suit your needs.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-green feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#zap` | relURL }}"/>
        </svg>
        <h2 class="h2">Fast by default <small class="d-none">🚀</small></h2>
        <p>Get 100 scores on <a href="https://googlechrome.github.io/lighthouse/viewer/?gist=1f990bcb2d769bb4e82e7fc7a8be2b1f" target="_blank" rel="noopener">Google Lighthouse</a>
             by default. Hugo Bootstrap Theme removes unused css, prefetches links, and lazy loads images.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-green feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#trending-up` | relURL }}"/>
        </svg>
        <h2 class="h2">SEO-ready <small class="d-none">📈</small></h2>
        <p>Use sensible defaults for structured data, <a href="https://ogp.me/" target="_blank" rel="noopener">open graph</a>, and <a href="https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts-cards" target="_blank" rel="noopener">Twitter cards</a>. Or easily change the Search Engine Optimization settings to your liking.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Hugo <small class="d-none">🦉</small></h2>
        <p><a href="https://gohugo.io/" target="_blank" rel="noopener">Hugo</a> is one of the most popular open-source static site generators. With its amazing speed and flexibility, Hugo makes building websites fun again.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Bootstrap <small class="d-none">✨</small></h2>
        <p>Powerful, extensible, and feature-packed <a href="https://getbootstrap.com/" target="_blank" rel="noopener">frontend toolkit</a>. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Page layouts <small class="d-none">🧰</small></h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
    </div>
</div> -->
