{{ define "main" }}

<section class="section bd-masthead">
  <div class="container-xxl">
    <div class="col-md-8 mx-auto text-center my-5">
      <img class="d-block mx-auto mb-3" src="{{ `images/bas_blue.png` | relURL }}" width="250" height="250" alt="Bootstrap">
      <h1 class="display-4 fw-semibold mb-3">{{ .Site.Title }}</h1>
      <p class="lead mb-4">{{ .Site.Params.Description }}</p>
      <p class="lead text-muted mb-4 ">Siamo dei professionisti specializzati in Intelligenza Artificiale, Machine Learning e modelli linguistici avanzati (LLM e RAG). Grazie alle nostre tecnologie AI, aiutiamo le aziende a trasformare le sfide in opportunità di crescita.</p>
      <a class="btn btn-bd-primary btn-lg px-4 mb-2" href="/services" role="button">Scopri i Nostri Servizi</a>
    </div>
  </div>
</section>

<section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Cosa Offriamo</h3>

  {{ partial "features" . }}
</section>

<section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Leggi gli Ultimi Articoli</h3>
  {{ partial "latest-posts" . }}
  
  <div class="mx-auto text-center my-5">
    <a class="btn btn-bd-primary btn-lg px-4 mb-2" href="/post">Vai al Nostro Blog</a>
  </div>
</section>
<!-- 
<section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Featured Pages</h3>
  {{ partial "featured-pages" . }}
</section> -->

<section class="section container my-3 mx-auto">
  <h3 class="text-secondary text-center my-5">Contattaci</h3>

  <p class="lead text-center"> Vuoi sapere di più? Mandaci un email a <a href="mailto:info@basilisk.it">info[at]basilisk.it</a> o contattaci con il seguente form.</p>

  {{ partial "contact-form" . }}
</section>

{{ end }}